.example-container {
  width: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

a[download]::after {
  content: url("../assets/download.png");
  width: 10px;
  height: 10px;
}

.highlighter-context:after {
  content: url("../assets/download.png");
  display: inline-block;
  width: 14px;
  height: 14px;
}

::highlight(my-custom-highlight) {
  background-color: peachpuff;
}
